<mat-toolbar class="menu">
  <div class="icon">
    <button mat-icon-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="page">Minha Conta</div>
  <div>&nbsp;</div>
</mat-toolbar>

<mat-toolbar class="menu-extended">

  <label for="arquivo">
    <div class="avatar">
      <img width="120" height="120" [src]="croppedImage">
    </div>
  </label>

</mat-toolbar>

<mat-card>
  <form class="form-account">
    <input class="hidden" type="file" id="arquivo" #arquivo (change)="fileChangeEvent($event)" />

    <mat-form-field>
      <input matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="CPF" mask="000.000.000-00">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="E-mail">
    </mat-form-field>

    <button type="button" mat-raised-button>ATUALIZAR</button>
  </form>
</mat-card>
