@color-primary: #F7931E;
@color-secondary: #E5DEDB;
@color-accent: #EF4051;

body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.primary { color: @color-primary; }
.secondary { color: @color-secondary; }

.bold { font-weight: bolder; }

.hidden {
  display: none;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  div {
    flex-grow: 1;
    text-align: center;
    flex-basis: 100%;
  }

  .icon {
    text-align: left;
  }
}

mat-toolbar {
  background-color: @color-accent !important;
  font-weight: bold !important;
  color: white !important;
}

button.mat-primary {
  background-color: @color-primary !important;
}
