<mat-toolbar class="menu">
    <div class="icon">
      <button mat-icon-button routerLink="/dashboard"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="page">Consumo</div>
    <div>&nbsp;</div>
</mat-toolbar>

<mat-card>
  <section class="filter">
      <button mat-raised-button>7 Dias</button>
      <button mat-raised-button>30 Dias</button>
      <button mat-raised-button color="primary">60 Dias</button>
  </section>

  <section class="consumption-list"
           data-infinite-scroll
           debounce
           [infiniteScrollDistance]="scrollDistance"
           [infiniteScrollThrottle]="throttle"
           (scrolled)="onScrollDown()">

              <div class="consumption-item"
                *ngFor="let item of itens"
              >

              <div class="consumption-icon">
                <mat-icon>{{ item.icon }}</mat-icon>
              </div>

              <div class="consumption-wrapper">
                <div class="consumption-description mat-caption">{{ item.description }}</div>
                <div class="consumption-price ">{{ item.price }}</div>
              </div>

              <div class="consumption-date mat-caption">{{ item.date }}</div>

            </div>
  </section>
</mat-card>
